/* ! font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* ! default style here */
body {
  font-family: "Poppins", sans-serif;
}
.mt {
  margin-top: 100px;
}
.mb {
  margin-bottom: 100px;
}
.mr {
  margin-right: 120px;
}
.ml {
  margin-left: 120px;
}
.bg-navber,
.explore-section,
.feedback-section,
.companies-section {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* ! home style here */
.home-section {
  padding-top: 82px;
}
.height {
  height: 555px;
}
.carousel-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(29, 29, 29, 0.7);
}
@media only screen and (max-width: 768px) {
  .height {
    height: 400px;
  }
}
